# Исключение файлов и папок виртуальной среды
.venv/
venv/
ENV/
env/

# Исключение файлов и папок IDE
.idea/

# Исключение скомпилированных Python-файлов
__pycache__/
*.py[cod]

# Исключение лог-файлов
*.log

# Исключение других скрытых файлов, если они не нужны
.DS_Store
.vscode/

